<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="jumbotron">
                    <h1 class="danger">{{errorMsg}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img id="devil-error"
                 src="https://dl-web.dropbox.com/get/TeamLimeImages/back-off.png?_subject_uid=196316464&w=AACEJX944G7tAe4pDkER9rkKshU0hNv3o7220dRajeTE5w"
                 alt="error"/>
        </div>
    </div>
</div>